RewriteEngine On
RewriteOptions Inherit

Options -Indexes

#php_flag magic_quotes_gpc Off

<FilesMatch "errors.txt|pdo.txt">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteRule ^story/([0-9]*)$ story.php?id=$1 [NC,L]
RewriteRule ^story/editor/([0-9]*)$ story.php?editor=true&id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?a=$1&%{QUERY_STRING} [NC,L,B]
